@import url("https://fonts.googleapis.com/css2?family=Quicksand");

html {
    font-family: "Quicksand";
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
}

.main-container {
    display: flex;
    // width: 80vw;
    height: 100vh;
    margin: 0px 5vw;

    >.left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 0px;
        width: 300px;
        height: 100%;
        background-color: #f2f3f7;

        .profile-img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-size: cover;
            background-image: url("./img/Ramchandra\ Thapa.jpg");
        }

        .name {
            margin-top: 30px;
            font-family: "Playfair Display";
            font-size: 2rem;
        }

        .designation {
            font-size: 1.25rem;
            margin-top: 11px;
        }

        .nav-container {
            margin-top: 25px;

            .nav-ul {
                list-style: none;
                padding-inline-start: 0px;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .nav-li {
                    cursor: pointer;
                    font-size: 1rem;
                    line-height: 1.8rem;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                .nav-li:hover {
                    border-bottom: 2px solid green;
                }
            }
        }

        .footer {
            margin-top: 30px;
            font-size: 1rem;
        }
    }

    >.right {
        height: auto;
        overflow: scroll;
        width: calc(100% - 300px);


        >section {
            min-height: 100vh;
        }

        >section:not([id='home']) {
            margin-top: 210px;
            margin-left: 23px;

            .header {
                padding: 0px 1.25rem;
                padding-bottom: 0.75rem;

                .title {
                    letter-spacing: 5px;

                    .main-heading {
                        text-transform: uppercase;
                        font-family: "Quicksand";
                        font-size: 10px;
                        line-height: 1.5rem;
                        color: #999999;

                    }

                    .sub-heading {
                        text-transform: uppercase;
                        font-family: "Playfair Display";
                        font-size: 1.5rem;
                        line-height: 2.7rem;
                    }

                }

                .content {
                    margin-top: 6rem;

                    .para {
                        font-family: "Quicksand";
                        font-size: 1.25rem;
                        line-height: 2.25rem;
                        margin-top: 2rem;
                    }
                }
            }

            .box-container {
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                margin-bottom: 80px;

                .box {
                    position: relative;
                    border-width: 0px;
                    min-width: 150px;
                    // height: 150px;
                    height: auto;
                    margin: 0px 1.25rem;
                    box-shadow: 2px 2px 20px #ddd;

                    padding: 23px;

                    .icon,
                    .content {
                        width: 130px;
                    }

                    .icon {
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                    }

                    .content {
                        font-size: 1.25rem;
                        margin-top: 20px;
                    }

                    .title,
                    .body {
                        padding: 23px;
                        width: 200px;
                        text-align: center;
                        padding: 0px;
                    }

                    .title {
                        font-weight: bold !important;
                        text-transform: uppercase;
                        margin-top: 60px;
                        margin-bottom: 30px;
                        font-family: "Quicksand";
                        font-size: 1.3rem;
                        line-height: 17.6px;
                    }

                    .body {
                        margin-bottom: 2rem;
                        font-size: 1.25rem;
                        line-height: 27px;
                    }

                    .icon-box {
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: -50px;
                        left: calc(50% - 50px);
                    }

                    .icon-white {
                        color: white !important;
                        text-align: center;
                        line-height: 100px;
                    }
                }

                .sky-blue {
                    border-bottom: #2c98f0;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #2c98f0;
                    }

                    .icon-box {
                        background-color: #2c98f0;
                    }
                }

                .blue {
                    border-bottom: #4054b2;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #4054b2;
                    }

                    .icon-box {
                        background-color: #4054b2;
                    }
                }

                .red {
                    border-bottom: #ec5453;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #ec5453;
                    }

                    .icon-box {
                        background-color: #ec5453;
                    }
                }

                .yellow {
                    border-bottom: #f9bf3f;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #f9bf3f;
                    }

                    .icon-box {
                        background-color: #f9bf3f;
                    }
                }

                .brown {
                    border-bottom: #a84cb8;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #a84cb8;
                    }

                    .icon-box {
                        background-color: #a84cb8;
                    }
                }

                .green {
                    border-bottom: #2fa499;
                    border-style: solid;
                    border-bottom-width: 2px;

                    .icon {
                        color: #2fa499;
                    }

                    .icon-box {
                        background-color: #2fa499;
                    }
                }
            }

            .services {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin: 80px 0px;
                grid-row-gap: 80px;


            }

            .banner {
                font-family: "Quicksand";
                background-color: #f9bf3f;
                padding: 30px;
                font-size: 2.5rem;
                line-height: 2.75rem;

                .btn {
                    text-transform: uppercase;
                    margin-top: 30px;
                    background-color: transparent;
                    border: 1px solid;
                    font-size: 1.25rem;
                    line-height: 2.3rem;

                }
            }

            .skills-container {
                display: flex;
                flex-direction: column !important;
                margin: 50px 15px 0px;

                p {
                    display: block;
                }

                .progress-container {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left,
                    .right {
                        width: 100%;
                        padding: 10px;

                        .progress-item {
                            margin: 10px;
                            height: 50px;
                            // color: blue;
                            // background-color: #2c98f0;

                            .heading {
                                font-family: "Quicksand";
                                font-size: 1.3rem;
                                line-height: 17.6px;
                            }

                            .progress-bar {
                                position: relative;
                                margin: 16px 0px;
                                width: 100%;
                                height: 6px;
                                // border-radius: 3px;

                                .full,
                                .progress,
                                .circle,
                                .tooltip {
                                    position: absolute;
                                }

                                .circle {
                                    top: -2px;
                                    left: calc(70% + 10px);
                                }

                                .full,
                                .progress {
                                    height: 6px;
                                    border-radius: 3px;
                                }

                                .full {
                                    background-color: black;
                                    opacity: 0.5;
                                    width: 100%;

                                }

                                .progress {
                                    background-color: #2c98f0;
                                    width: 75%;
                                }

                                .circle {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    background-color: #2c98f0;
                                }

                                .tooltip {}
                            }
                        }
                    }

                }
            }

        }

        #home {
            padding: 15px;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            position: relative;

            background-image: url('./img/img_bg_1.jpg');

            #portfolio {
                display: none;
            }

            #controler {
                position: absolute;
                bottom: 30px;
                left: 10px;

                .icon {
                    height: 10px;
                    width: 10px;
                    margin: 10px;
                    border-radius: 50%;
                    border: 2px solid #2c98f0;
                }

                .active {
                    border: none;
                    background-color: black;
                    opacity: 0.7;
                }
            }

            article {
                margin: 38px;

                .intro {
                    font-family: "Playfair Display";
                    font-size: 5rem;
                }

                .cta {
                    font-family: "Quicksand";
                    font-size: 1.5rem;
                    margin-top: 30px;
                    border: 1px solid;
                    padding: 10px;
                    text-transform: uppercase;
                    background-color: transparent;
                    cursor: pointer;

                    i {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

}